.footer {
    height: 170px;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.footer-container {
    width: 50%;
    margin: auto;
}

h4 {
    color: #fff;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

.footer-width {
    width: 400px;
}

a {
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .footer-container {
        width: 50%;
    }

    .footer {
        flex-direction: column;
        height: auto;
        padding: 30px 0;
    }
}